body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul{
    margin: 0;
    display: flex;
}

header {
    background-image: url("./img/cover.jpg");
    background-repeat: none;
    background-size: cover;
    height: 800px;
}

.top {
    display: flex;
    justify-content: space-between;   
}

.navbar ul li {
    display: flex;
    text-decoration: none;
    margin-right: 50px;
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
}

.data ul li{
    text-decoration: none;
    margin: auto 60px;
    list-style-type: none;
    float: left; 
}

li span{
  font-size: 34px;
}

.header-text {
    margin-top: 100px;
}

.header-text h4{
    margin: 0;
    color: white;
    font-size: 48px;
    text-align: right;
    padding-right: 100px;
}

.header-text h1{
    margin: 0;
    color: white;
    font-size: 72px;
    text-align: right;
    padding-right: 100px;
}

.header-text{
    padding: 50px 20px 100px 100px;
}

li a{
    text-decoration: none;
    color: white; 
    
}

.navbar{
    font-size: 16px;
    padding-top: 20px; 
    margin-right: 20px;
    justify-content: flex-end;
}
 
header{
    background-color: teal;
}

nav{
    display: flex;
    justify-content: space-between;
}

.header-logo img{
    padding: 20px;
    width: 50px;
    height: auto;
    display: flex;
    justify-content: flex-start;
}

.information{
    width: 70%;
    height: 125px;
    background-color: red;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 80px;
    text-align: center;
}


.data{
    padding: 30px;
    font-weight: bold;
}

li img{
    width: 20px;
    height: auto;
}

.confirm{
    color: #212B36;
    background-color: #BBE5B3;
    padding: 5px 25px;
    border-radius: 20px;
}

.sembuh{
    color: #212B36;
    background-color: #B7ECEC;
    padding: 5px 25px;
    border-radius: 20px;
}

.death{
    color: #212B36;
    background-color: #FEAD9A;
    padding: 5px 25px;
    border-radius: 20px;
}

.pencegahan{
    margin: 50px 100px;
    color: teal;
}