body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul{
    margin: 0;
}

.navbar ul li {
    text-decoration: none;
    margin-right: 50px;
    list-style-type: none;
    float: right;
}

.data ul li{
    text-decoration: none;
    margin: auto 60px;
    list-style-type: none;
    float: left;  
}

li span{
  font-size: 34px;
}

.header-text h4, .header-text h1{
    margin: 0;
    color: white;
}

.header-text{
    padding: 50px 20px 100px 100px;
}

li a{
    text-decoration: none;
    color: white;    
}

.navbar{
    font-size: 16px;
    padding-top: 20px; 
    margin-right: 20px;
}

header{
    background-color: teal;
}

nav{
    display: flex;
    justify-content: space-between;
}

.header-logo img{
    padding: 20px;
    width: 50px;
    height: auto;
}

.information{
    width: 70%;
    height: 125px;
    background-color: white;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -80px;
    text-align: center;
}


.data{
    padding: 30px;
    font-weight: bold;
}

li img{
    width: 20px;
    height: auto;
}

.confirm{
    color: #212B36;
    background-color: #BBE5B3;
    padding: 5px 25px;
    border-radius: 20px;
}

.sembuh{
    color: #212B36;
    background-color: #B7ECEC;
    padding: 5px 25px;
    border-radius: 20px;
}

.death{
    color: #212B36;
    background-color: #FEAD9A;
    padding: 5px 25px;
    border-radius: 20px;
}

.pencegahan{
    margin: 50px 100px;
    color: teal;
}